* {
  font-family: "Barlow", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131519;
}

main {
  border-radius: 1rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  justify-content: center;
  text-align: start;
}

.hide {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(36, 42, 50, 0.9) 6%,
    rgba(35, 41, 51, 0.9) 6%,
    rgba(23, 30, 40, 1) 48%
  );
  width: 24rem;
  height: 100%;
  border-radius: 20px;
  padding: 1.9rem;
  gap: 25px;
}

.container > h1 {
  color: #fff;
}
.container > p {
  font-size: 15px;
  color: #737983;
  line-height: 27px;
}

.star {
  background-color: #262e38;
  display: flex;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.btns > button {
  display: flex;
  padding: 15px 20px;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: none;
  color: #737983;
  background-color: #262e38;
}

.btns > button:hover {
  background-color: #f07739;
  color: #fff;
  cursor: pointer;
}

.btns > button:focus {
  background-color: #7d8898;
  color: #fff;
}

#onSubmit {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 44px;
  border-radius: 24px;
  border: none;
  background-color: #f07739;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#onSubmit:hover {
  background-color: #fff;
  color: #f07739;
  cursor: pointer;
}

.response {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(36, 42, 50, 0.9) 6%,
    rgba(35, 41, 51, 0.9) 6%,
    rgba(23, 30, 40, 1) 48%
  );
  width: 24rem;
  height: 100%;
  border-radius: 20px;
  padding: 1.9rem;
  gap: 25px;
}

.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #262e38;
  width: 70%;
  height: 36px;
  border-radius: 24px;
  padding: 10px;
}

.result > p {
  padding: 0;
  color: #f07739;
}

.response > h1 {
  color: #fff;
  letter-spacing: 1px;
}

.response > p {
  font-size: 15px;
  color: #737983;
  line-height: 27px;
}

@media only screen and (max-width: 425px) {
  .container{
    width: 100%;
  }
  .response {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btns {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  
}
