*{
  font-family: "Barlow", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    background-color: #131519;
   
    
  }
  
  .hide{
    display: none;
  }
  
  .container {
    background: linear-gradient(
      180deg,
      rgba(36, 42, 50, 0.9) 6%,
      rgba(35, 41, 51, 0.9) 6%,
      rgba(23, 30, 40, 1) 48%
    );
    width: 25%;
    border-radius: 20px;
    padding: 1.9rem;
  }
  
  .container > h1 {
    color: #fff;
    margin-top:32px;
    
  }
  .container > p {
    font-size: 15px;
    color: #737983;
    line-height: 27px;
  }
  
  .star {
    background-color: #262e38;
    display: flex;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    
  }
  
  .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    padding: 0px;
  }
  
  .btns > button {
    display: flex;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: none;
    color: #737983;
    background-color: #262e38;
  }
  
  .btns > button:hover {
    background-color: #f07739;
    color: #fff;
    cursor: pointer;
  }
  
  .btns > button:focus {
    background-color: #7d8898;
    color: #fff;
  }
  
  .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    
  }
  .submit > button {
    width: 36em;
    height: 44px;
    border-radius: 24px;
    border: none;
    background-color: #f07739;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase ;
  }
  
  .submit > button:hover {
    background-color: #fff;
    color: #f07739;
    cursor: pointer;
  }
  
  .response {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
      180deg,
      rgba(36, 42, 50, 0.9) 6%,
      rgba(35, 41, 51, 0.9) 6%,
      rgba(23, 30, 40, 1) 48%
    );
    width: 22em;
    height: 23em;
    border-radius: 20px;
    padding: 1.9rem;
  }
  
  .result {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #262e38;
    margin-top: 30px;
    width: 13em;
    height: 36px;
    border-radius: 24px;
  }
  
  .result > p {
    padding: 0;
    color: #f07739;
  }
  
  .response > h1 {
    color: #fff;
    margin-top: 2rem;
    padding: 0px;
    letter-spacing: 1px;
  }
  
  .reachout {
    font-size: 15px;
    color: #737983;
    line-height: 27px;
    padding: 0 10px;
  }

  .attribution {
    font-size: 11px;
    color:aliceblue;
    text-align: center;
    position: absolute;
    top: 90%;
  }

  .attribution a {
    color: hsl(228, 41%, 56%);
  }

  
  
  @media only screen and (max-width: 600px) {
      body{
        display: flex;
        justify-content: center;
          align-items: center;
          background-color: #131519;
          width: 100%;
          flex-wrap: wrap;
          align-content: center;
      }
  
      .attribution {

        display: flex;
        top: 100%;
      }

  }