* {
    font-family: "Hanken Grotesk", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .mainDiv {
    width: 41em;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 10px 30px 50px hsl(221, 100%, 96%);
  }
  
  .centerDiv {
    display: flex;
    justify-content: space-between;
  }
  
  .mainSec {
    width: 50%;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 2rem;
    padding: 1.5rem 2rem;
    background: linear-gradient(
      180deg,
      hsl(252, 100%, 67%),
      hsl(241, 81%, 54%)
    );
  }
  
  .mainSec .heading {
    color: lavender;
    margin-bottom: 1rem;
  }
  
  .mainSec .circle {
    width: 10em;
    height: 10em;
    background: linear-gradient(
      180deg,
      hsla(256, 72%, 46%, 1),
      hsla(241, 72%, 46%, 0)
    );
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    flex-direction: column;
  
    font-family: sans-serif;
  }
  
  .circle h1 {
    color: #fff;
    font-size: 4rem;
  }
  
  .circle p {
    color: #ccc3fb;
  }
  
  .mainSec h2 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  .mainSec .messg {
    color: #ccc3fb;
    padding: 0 18px;
  }
  
  .summ {
    width: 50%;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: hsl(224, 30%, 27%);
  }
  
  .summary .title {
    font-weight: 800;
    color: black;
  }
  
  .rows {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .row {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    font-size: 14px;
  }
  
  .row:nth-child(1) {
    background-color: #fef6f5;
  }
  .row:nth-child(1) .badge b {
    color:hsl(0, 100%, 67%) ;
  }
  
  .row:nth-child(2) {
    background-color: #fffbf2;
  }
  .row:nth-child(2) .badge b {
    color: hsl(39, 100%, 56%);
  }
  
  .row:nth-child(3) {
    background-color: #f3fbfa;
  }
  .row:nth-child(3) .badge b {
    color: hsl(166, 100%, 37%);
  }
  
  .row:last-child {
    background-color: #f3f3fd;
  }
  .row:last-child .badge b {
    color: hsl(234, 85%, 45%);
  }
  
  .badge {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .row p {
    color:hsl(224, 30%, 27%);
    display: flex;
    align-items: center;
    border-spacing: 3px;
  }
  
  .row p span{
    color:hsl(241, 100%, 89%) ;
  }
  
  .btn {
    padding: 1rem;
    margin-top: auto;
    justify-content: center;
    border-radius: 25px;
    background-color: hsl(224, 30%, 27%);
    color: #fff;
    border-style: none;
  }
  @media only screen and (max-width: 600px) {
    body {
      align-items: flex-start;
      background-color: #fff;
    }
    .mainDiv {
      box-shadow: none;
    }
    .centerDiv {
      flex-direction: column;
    }
    .mainSec {
      width: 100%;
      border-radius: 0 0 1rem 1rem;
    }
    
    .summ {
      width: 100%;
    }
    
  }