* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  background-color: hsl(217, 19%, 24%);
  width: 36rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  position: relative;
}

h1 {
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;
  margin-top: 3.4em;
}

p {
  color: hsl(193, 38%, 86%);
  font-size: 28px;
  text-align: center;
  padding: 20px;
  margin-top: 16px;
}

.divider {
  margin: 30px 0 64px 0;
}

.dice {
  background-color: hsl(150, 100%, 66%);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 90%;
}

.dice:hover {
  cursor: pointer;
  box-shadow: 0 0 36px 3px hsla(150, 100%, 66%, 0.8);
}

.custom-loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 86.5%;
  z-index: 0;
  display: none;
  background: conic-gradient(#0000 10%, hsl(193, 38%, 86%));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 24rem;
  }

  h1 {
    font-size: 10px;
  }

  p {
    font-size: 20px;
  }

  .divider img {
    content: url("./images/pattern-divider-mobile.svg");
  }

  .dice {
    width: 50px;
    height: 50px;
  }

  .dice img {
    width: 20px;
    height: 20px;
  }
}
